.friends{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    .hover-friend.active{
        background-color: var( --active-color);
    }
    .hover-friend{
        cursor: pointer;
        &:hover{
            background-color: var(--hover-color);
        }
        .friend{
            display: flex;
            width: 100%;
            padding: 7px 15px;
            .friend-image{
                .image{
                    margin-right: 8px;
                    position: relative;
                    img{
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        border: 1px solid var(--text-color);
                    }
                    .active_icon{
                        position: absolute;
                        width: 13px;
                        height: 13px;
                        border-radius: 50%;
                        background-color: rgb(43, 228, 43);
                        right: -2px;
                        bottom: 6px;
                        border: 1px solid #fff;
                    }
                }
            }
            .friend-name-seen{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .friend-name{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-direction: column;
                    h4.unseen_message{
                        font-weight: 700 !important;
                    }
                    h4{
                        color: var(--text-color);
                        font-weight: 300;
                    }
                    .msg-time{
                        span.unseen_message{
                            font-weight: 700 !important;
                        }
                        span{
                            font-size: 12px;
                            color: var(--text-color);
                        }
                    }
                } 
                .seen-unseen-icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                    }
                    .unseen,.delivared{
                        color: var(--text-color);
                    }
                    .seen-icon{
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: aquamarine;
                    }
                }
            }
           
        }
    }
}