.message-show{
    height: 100%;
    padding: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar{
        overflow:hidden;
    }
    .friend_connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        color: var(--text-color);
        img{
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
        h3{
            margin-top: 10px;
        }
    }
    .my-message{
        float: right;
        .my-text{
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            width: 370px;
            flex-direction: column;
            img.img,span{
                width: 14px;
                height: 14px;
                border-radius: 50%;
                margin: 3px 0px 0px 0px;
                color: var(--text-color);
            }
            .my{
                background-color: var(--my-message-bg);
                color: var(--text-white);
            }
            .message-text{
                text-align: end;
                padding: 10px;
                border-radius: 10px;
                img{
                    width: 220px;
                    height: 270px;
                    margin-right: 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    object-fit: cover;

                }
            }
        }
        .time{
            text-align: end;
            padding: 5px 0px;
            color: yellowgreen;
        }
    }
    .fd-message{
        float:  left;
        .fd-text{
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            width: 370px;
            .fd{
                background-color: var(--fd-message-bg);
                color: var(--text-color);
            }
            .message-text{
                text-align: start;
                border-radius: 10px;
                img{
                    width: 220px;
                    height: 270px;
                    margin-right: 0px;
                    border-radius: 5px;
                    overflow: hidden;
                    object-fit: cover;

                }
            }
        }
    }
}
.image-message-time,.image-message{
    display: flex;
    img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
    .message-text{
        padding: 8px;
        color: #fff;
        background-color: #28324ed9;
        font-size: 14px;
        font-weight: 400;
    }
    .time{
        padding: 5px 0px;
        color: yellowgreen;
    }
}
.typing-message{
    padding: 0px 10px;
}