*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #f5f6f7;
    font-family: 'Roboto',sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}